.sidebar {
    display: flex;
    flex: 0.35;
    flex-direction: column;
}

.sidebar_header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-right: 1px solid lightgray;
}

.sidebar_right {
    display: flex;
    min-width: 10vw;
    align-items: center;
    justify-content: space-between;
}